<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OrbiGo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
				<key>dateExpires</key>
				<string>28/03/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AZDropdownMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>InAppNotify.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftGifOrigin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>81172C71388304AEE6B9CBCA961ABC49A00AF1F8</string>
						<key>dateExpires</key>
						<string>28/03/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZFTokenField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5W64V38EUB</string>
						<key>name</key>
						<string>Ravi Dubey</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5W64V38EUB.com.developerTeam.OrbiGo</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5W64V38EUB</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5W64V38EUB.com.smn.OrbiGo</string>
				</array>
			</dict>
			<key>name</key>
			<string>OrbiGo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>62de32bc-c331-4129-b05a-30328e7ad93b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.developerTeam.OrbiGo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5W64V38EUB</string>
				<key>name</key>
				<string>Ravi Dubey</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
