<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625828488279-qfbhtushv02e3ad9h9o3pb82a59m8tfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625828488279-qfbhtushv02e3ad9h9o3pb82a59m8tfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBHeDQf0a8rt6NeJvwcPZoKqGwxnK1wSQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>625828488279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovious.greegotaxi</string>
	<key>PROJECT_ID</key>
	<string>greegoapp-200012</string>
	<key>STORAGE_BUCKET</key>
	<string>greegoapp-200012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625828488279:ios:b4bdd53767241916</string>
	<key>DATABASE_URL</key>
	<string>https://greegoapp-200012.firebaseio.com</string>
</dict>
</plist>